body {
  padding-top: 75px;
}

img.float-left {
  width: 100%;
  padding: 0 10px 10px 0;
  clear: both;
}

.mt-35 {
  margin-top: 35px;
}

.header-clear {
  padding-top: 120px;
  margin-top: -120px;
}

.back-to-top {
	position: fixed;
	bottom: 135px;
	right: 15px;
	font-size: 2rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 77px;
  }
}